.footer{
    background-color: brown;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
